# Ignore all Node modules
node_modules/

# Ignore all Logs and the files in the logs directory
logs/
*.log

# Ignore Environment variables
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE and editor files and the files in the .idea directory and the .vscode directory
.idea/
*.iml
.vscode/

# Ignore Build and dependency files and the files in the dist and build directories
dist/
build/

# Ignore Temporary files
*.tmp

# Ignore Python cache files and the files in the __pycache__ directory
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints and the files in the .ipynb_checkpoints directory
.ipynb_checkpoints/

# Ignore the src/ai directory and the files in the src/ai directory
src/ai/         

# Ignore the config directory and the files in the config directory except for the sampleConfig.json file
config/*
!config/sampleConfig.json                      

# Ignore the docs/private directory and the files in the docs/private directory
docs/private

# Ignore the .cursorignore and .continueignore files
.cursorignore
.continueignore

# Ignore the .aider* and .aiderignore files
.aider*
.aiderignore

